<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ToDo_app</title>
    <title>ToDo_app</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div id="app" class="container">
    <h1>
        ToDoメモアプリ
    <span class="info">ToDo数: {{ remaining }}</span>
    </h1>
<!--    <ul v-if="todos.length">-->
<!--        <li v-for="(todo, index) in todos" :key="todo">-->
<!--            {{ todo }}-->
<!--            <span @click="deleteItem(index)">[x]</span>-->
<!--        </li>-->
<!--    </ul>-->
<!--    <ul v-else>-->
<!--        <li>Nothing to do, yay!</li>-->
<!--    </ul>-->
<!--    <form @submit.prevent="addItem">-->
<!--        <input type="text" v-model="text" v-on:keyup.enter="changeItems" ref="editor">-->
<!--        <input type="submit" value="メモを追加">-->
<!--    </form>-->
    <form @submit.prevent="addItem">
        <input type="text" v-model="text" ref="editor">
        <span><button v-on:click="setItems" type="submit">{{changeButtonText}}</button></span>
    </form>

    <ul>
        <li v-for="(todo, index) in todos" v-bind:key="index">
        {{ todo }}
        <span>
            <button v-on:click="edit(index)" >
                編集
            </button>
        </span>
            <button v-on:click="remove(index)">
                削除
            </button>
        </li>
    </ul>
</div>

<script src="https://unpkg.com/vue@3.2.33"></script>
<script src="app.js"></script>
</body>
</html>
